{% assign sorted = site.project-modules | sort: 'title' %}
<h1>Modules</h1>

{% if page.modules == "ALL" %}
  {% assign selection = site.project-modules %}
{% else %}
  {% assign selection = "" | split: ',' %}
  {% for m in page.modules %}
    {% for module in sorted %}
      {% if m == module.id %}
        {% assign selection = selection | push: module %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}

{% for module in selection %}
  <div class="col-md-3 col-sm-4 col-xs-6" style="height: 225px;">
    <a href="{{site.baseurl}}{{module.url}}">
         {% if module.thumbnail %}
        <div style="background-color: #97C8EB; border-radius: 50%; width: 150px; position: relative; left: 50%; top: 50%; margin-left: -75px;">
          <img src="{{site.baseurl}}/assets{{module.url}}/{{module.thumbnail}}" class="img-responsive" style="height: 150px; position: relative; left: 50%; top: 50%; margin-left: -75px;">
        </div>
        {% else %}
        <div>
          <img src="{{site.baseurl}}{{site.default-thumbnail}}" class="img-responsive" style="height: 150px; position: relative; left: 50%; top: 50%; margin-left: -75px;">
        </div>
        {% endif %}
      <div>
        <h4 style="text-align:center; vertical-align: bottom;">{{module.title}}</h4>
      </div>
    </a>
  </div>
{% endfor %}
