---
layout: base
---

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

{% include header.html type="page" %}

<!-- <style>
.dot {
    height: 150px;
    width: 150px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
</style> -->

<div class="container" role="main">

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      {% if page.editbutton %}
      <div style="padding-bottom: 30px">
      <a target="_blank" href="{{site.github.repository_url}}/blob/{{site.branch}}/{{page.path}}" class="btn btn-default githubEditButton" role="button"><i class="fa fa-github fa-lg"></i> Edit me <i class="fa fa-edit"></i></a>
      </div>
      {% endif %}

      {{ content }}


      {% if page.habitat-links %}
      {% assign sorted = site.module-groups | sort: 'title' %}
      {% assign allmodules = site.project-modules | sort: 'title' %}
      {% for group in sorted %}
        <div class="row">
        <h2><a href={{site.baseurl}}{{group.url}}>{{group.title}}</a></h2>


        {% for m in group.modules %}
        {% for module in allmodules %}
        {% if m == module.id %}

          <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="{{site.baseurl}}{{module.url}}">
              <div>
                {% if module.thumbnail %}
                <div style="background-color: #97C8EB; width: 75px; position: relative; left: 50%; top: 50%; margin-left: -37.5px; border-radius: 50%;">
                <img src="{{site.baseurl}}/assets{{module.url}}/{{module.thumbnail}}" class="img-responsive" style="height: 75px; position: relative; left: 50%; top: 50%; margin-left: -37.5px;">
                </div>
                {% else %}
                <div>
                <img src="{{site.baseurl}}{{site.default-thumbnail}}" class="img-responsive" style="height: 75px; position: relative; left: 50%; top: 50%; margin-left: -37.5px;">
              </div>
                {% endif %}
              </div>
              <div>
                <h4 style="text-align:center; vertical-align: bottom;">{{module.title}}</h4>
              </div>
            </a>
          </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
      {% endfor %}
      {% endif %}

    </div>
  </div>
</div>
