---
layout: base
---

{% include header.html type="page" %}

<div class="container" role="main">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
    <!--<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">-->
      <div style="">
      {{ content }}
    </div>

    <div class="row" style="">
      {% assign sorted = site.project-modules | sort: "weight" %}

      {% if page.all %}
      {% for project-module in sorted %}
      <div class="col-md-3 col-sm-4 col-xs-10 col-xs-offset-1">
        <div style="width: 200px; padding-top: 25px; ">
       <a href="{{site.baseurl}}{{project-module.url}}">
         <img src="{{ project-module.thumbnail }}" class="img-responsive" style="height: 150px; position: relative; left: 50%; top: 50%; margin-left: -75px;">
        <h4 style="text-align:center">{{project-module.title}}</h4>
      </a>
      </div>
      </div>
      {% endfor %}

      {% else %}
      <h4>Modules</h4>
      {% for project-module in sorted %}
      {% for habitat in project-module.habitats %}
        {% if habitat.type == page.habitat %}

        <div class="col-md-3 col-sm-4 col-xs-10 col-xs-offset-1">
          <div style="width: 200px; padding-top: 25px; ">
         <a href="{{site.baseurl}}{{project-module.url}}">
           <img src="{{ project-module.thumbnail }}" class="img-responsive" style="height: 150px; position: relative; left: 50%; top: 50%; margin-left: -75px;">
          <h4 style="text-align:center">{{project-module.title}}</h4>
        </a>
        </div>
        </div>
    {% endif %}
    {% endfor %}
    {% endfor %}

      {% endif %}




    </div>
    </div>
  </div>
</div>
