---
layout: base
---

{% include header.html type="page" %}



<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div style="padding-bottom: 30px">
      {{content}}
      </div>

    <div class="row">
      {% assign sorted = site.project-modules | sort: 'title' %}

      {% if page.all %}
      <h1>Modules</h1>
      {% for module in sorted %}
      <div class="col-md-3 col-sm-4 col-xs-6" style="height: 225px;">
          <a href="{{site.baseurl}}{{module.url}}">
                 <img src="{{module.thumbnail }}" class="img-responsive" style="height: 150px; position: relative; left: 50%; top: 50%; margin-left: -75px;">
                <h4 style="text-align:center">{{module.title}}</h4>
              </a>
      </div>
      {% endfor %}
      {% endif %}

      {% if page.modules %}
      <h1>Modules</h1>
        {% for m in page.modules %}
        {% for module in sorted %}
          {% if m == module.id %}
            <div class="col-md-3 col-sm-4 col-xs-6" style="height: 225px;">
                <a href="{{site.baseurl}}{{module.url}}">
                       <img src="{{module.thumbnail }}" class="img-responsive" style="height: 150px; position: relative; left: 50%; top: 50%; margin-left: -75px;">
                      <h4 style="text-align:center">{{module.title}}</h4>
                    </a>
            </div>
          {% endif %}
        {% endfor %}
        {% endfor %}
      {% endif %}

    </div>
  </div>
</div>
</div>
