---
layout: base
---

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

{% include header.html type="page" %}


<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {% if page.release %}

      <div class="pagination-centered" style="outline: 2px solid black; padding: 20px">

        <h3><a href="{{page.release.githubrelease}}" style="color:inherit;">Github Repository</a></h3>
        <i class="material-icons" style="vertical-align: middle; padding-bottom: 5px;">save_alt</i>
        <a href="{{page.release.fieldsheet}}">Fieldsheet</a><br>
        <i class="material-icons" style="vertical-align: middle; padding-bottom: 5px;">save_alt</i>
        <a href="{{page.release.template}}">Data Template</a>
      </div>

      {% else %}
      {% endif %}

      {{ content }} {% if page.comments %}
      <div class="disqus-comments">
        {% include disqus.html %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
