---
layout: base
---

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

{% include header.html type="page" %}


<div class="container" role="main">

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div style="padding-bottom: 30px">
      <a target="_blank" href="{{site.github.repository_url}}/blob/master/{{page.path}}" class="btn btn-default githubEditButton" role="button"><i class="fa fa-github fa-lg"></i> Edit me <i class="fa fa-edit"></i></a>
      </div>

      {% if page.release %}

      <div class="pagination-centered" style="outline: 2px solid black; padding: 20px">

        <h3><a href="{{page.release.githubrelease}}" style="color:inherit;">Github Repository</a></h3>
        <i class="material-icons" style="vertical-align: middle; padding-bottom: 5px;">save_alt</i>
        <a href="{{page.release.fieldsheet}}">Fieldsheet</a><br>
        <i class="material-icons" style="vertical-align: middle; padding-bottom: 5px;">save_alt</i>
        <a href="{{page.release.template}}">Data Template</a>
      </div>

      {% else %}
      {% endif %}

      {{ content }}
      {% if page.comments %}
      <div class="disqus-comments">
        {% include disqus.html %}
      </div>
      {% endif %}

      {% if page.submodules %}
      <h1>Submodules</h1>
        {% for module in site.project-modules %}
          {% if page.submodules contains module.id%}
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div style="padding-top: 25px; ">
                <a href="{{site.baseurl}}{{module.url}}">
                       <img src="{{module.thumbnail }}" class="img-responsive" style="height: 150px; position: relative; left: 50%; top: 50%; margin-left: -75px;">
                      <h4 style="text-align:center">{{module.title}}</h4>
                    </a>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}

    </div>
  </div>
</div>
